
.idea/
*.iml
.dev_priority
out/


.gradle/
build/
/local.properties
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.bundle


*.log
/json/


*.jks
*.keystore
*.google_play_configs


.DS_Store
Thumbs.db


.navigation/
assetpack/